<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Pool</title>
    <link rel="stylesheet" href="./index.css"/>
    <script src="./index.js"></script>
</head>
<body>
    <div id="root">
        <nav class="navbar">
            <a id="logo" href="#home">
                <img class="car-img" src="../logo.png">
            </a>
            <div class="navbar-nav">
                <ul>
                    <li class="nav-item">
                        <a href="#">
                            <img src="./icons/customer-50.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <section id="home">
                <div class="option-container">
                    <div class="options">
                        <button type="button" class="user-option" onclick="displayDriverForm()">
                            As a Driver
                        </button>
                        <button type="button" class="user-option" onclick="displayRiderForm()">
                            As a Rider
                        </button>
                    </div>
                    <div class="form-wrapper">
                        <form action="" class="driver-form">
                            <div class="input-wrapper">
                                <label for="fname">First Name:</label>
                                <input type="text" id="fname" name="fname">
                            </div>
                            <div class="input-wrapper">
                                <label for="lname">Last Name:</label>
                                <input type="text" id="lname" name="lname"><br>
                            </div>
                            <div class="input-wrapper">
                                <label for="plate">License Plates:</label>
                                <input type="text" maxlength="7" id="plate" name="plate">
                            </div>
                        </form>
                        <form action="" class="rider-form">

                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>