* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12;
    width: 100%;
    height: 100vh;
}

#root {
    --navbar-color: pink;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--navbar-color);
}

.navbar-nav {
    display: flex;
}

.nav-item {
    padding: 20px;
}

.car-img {
    width: 100%;
    object-fit: cover;
}

.option-container {
    height: 100vh;
    min-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-option {
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 50px;
}

